<nz-modal [(nzVisible)]="isVisibleCreate" [nzTitle]="'Create User'" [nzContent]="modalContentCreate" [nzFooter]="modalFooterCreate">
      <ng-template #modalTitle>Create User</ng-template>
      <ng-template #modalContentCreate>
        <nz-form-label id="template-iqrk" class="label"  style="margin-top: 20px;" >name</nz-form-label>
        <input nz-input placeholder="Enter name" [(ngModel)]="testentity.name" [ngModelOptions]="{standalone: true}" ngDefaultControl class="input form-control "/>
        <nz-form-label id="template-iqrk" class="label"  style="margin-top: 20px;" >corprate</nz-form-label>
        <input nz-input placeholder="Enter corprate" [(ngModel)]="testentity.corprate" [ngModelOptions]="{standalone: true}" ngDefaultControl class="input form-control "/>
        <nz-form-label id="template-iqrk" class="label"  style="margin-top: 20px;" >modules</nz-form-label>
        <input nz-input placeholder="Enter modules" [(ngModel)]="testentity.modules" [ngModelOptions]="{standalone: true}" ngDefaultControl class="input form-control "/>
      </ng-template>

      <ng-template #modalFooterCreate>
        <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
        <button nz-button nzType="primary" (click)="GpCreate()" >Create</button>
      </ng-template>
</nz-modal>

<nz-modal [(nzVisible)]="isVisibleUpdate" [nzTitle]="'Update User'" [nzContent]="modalContentUpdate" [nzFooter]="modalFooterUpdate">
  <ng-template #modalTitle>Update User</ng-template>
  <ng-template #modalContentUpdate>
    <nz-form-label id="template-iqrk" class="label"  style="margin-top: 20px;" >name</nz-form-label>
    <input nz-input placeholder="Enter name" [(ngModel)]="testentity.name" [ngModelOptions]="{standalone: true}" ngDefaultControl class="input form-control "/>
    <nz-form-label id="template-iqrk" class="label"  style="margin-top: 20px;" >corprate</nz-form-label>
    <input nz-input placeholder="Enter corprate" [(ngModel)]="testentity.corprate" [ngModelOptions]="{standalone: true}" ngDefaultControl class="input form-control "/>
    <nz-form-label id="template-iqrk" class="label"  style="margin-top: 20px;" >modules</nz-form-label>
    <input nz-input placeholder="Enter modules" [(ngModel)]="testentity.modules" [ngModelOptions]="{standalone: true}" ngDefaultControl class="input form-control "/>
  </ng-template>

  <ng-template #modalFooterUpdate>
    <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
    <button nz-button nzType="primary" (click)="GpUpdate()" >Update</button>
  </ng-template>
</nz-modal>


<nz-input-group [nzSuffix]="suffixIconSearch" style="width: auto;">
    <input type="text" nz-input placeholder="search..." [(ngModel)]="searchtickets" [ngModelOptions]="{standalone: true}" class="form-control" (ngModelChange)="search($event)"/>
</nz-input-group>
<ng-template #suffixIconSearch>
    <span nz-icon nzType="search" ></span>
</ng-template>

<button nz-button style="float: right; background-color: #2c2cbb; color: #fff;" (click)="showModal()">
    <span nz-icon nzType="file-add" nzTheme="outline"></span>
    New User
</button>

<div nz-row style="margin: 25px 0;">
    <div nz-col nzSpan="24">
        <nz-table #filterTable [nzData]="listOfData" nzTableLayout="fixed">
            <thead>
              <tr>
                <th nzColumnKey="name" [nzSortFn]="true">name</th>
                <th nzColumnKey="corprate" [nzSortFn]="true">corprate</th>
                <th nzColumnKey="modules" [nzSortFn]="true">modules</th>
                <th nzColumnKey="status" [nzFilters]="filterStatus" [nzFilterFn]="true">Status</th>
                <th nzWidth="100px"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of filterTable.data">
                <td>{{ data.name }}</td>
                <td>{{ data.corprate }}</td>
                <td>{{ data.modules }}</td>
                <td>
                  <nz-switch [ngModel]="true" nzCheckedChildren="Active" nzUnCheckedChildren="In-Active"></nz-switch>
                </td>
                <td>
                    <a nz-dropdown [nzDropdownMenu]="menu"  style="color: gray; font-size: 15px;">
                        ...
                        <span nz-icon nzType="down"></span>
                    </a>
                    <nz-dropdown-menu #menu="nzDropdownMenu">
                        <ul nz-menu>
                          <li nz-menu-item (click)="getUpdateById(data)">Edit</li>
                          <li nz-menu-item >
                            <a
                              nz-popconfirm
                              nzPopconfirmTitle="Are you sure delete this task?"
                              nzPopconfirmPlacement="bottom"
                              (nzOnConfirm)="confirmDelete(data)"
                              (nzOnCancel)="cancel()"
                            >
                              Delete
                            </a>
                          </li>
                        </ul>
                    </nz-dropdown-menu>
                </td>
              </tr>
            </tbody>
        </nz-table>
    </div>
</div>





