nz-date-picker,
nz-range-picker {
  margin: 0 8px 12px 0;
}

.fr {
  float: right;
}

.purple {
  color: purple;
}

.blue {
  color: blue;
}

.cyan {
  color: cyan;
}

.gray {
  color: gray;
}

.green {
  color: green;
}

.magenta {
  color: magenta;
}