<nz-tabset style="padding: 10px;">
    <nz-tab nzTitle="Indicator Reports">
        <ng-template nz-tab>
            <app-indicator-reports></app-indicator-reports>
        </ng-template>
    </nz-tab>
    <nz-tab nzTitle="Ticket History">
        <ng-template nz-tab>
          <app-ticket-history></app-ticket-history>
        </ng-template>
    </nz-tab>
    <nz-tab nzTitle="Working Positions">
      <ng-template nz-tab>
        tab 3
      </ng-template>
    </nz-tab>
    <nz-tab nzTitle="Prioritize Ticket">
      <ng-template nz-tab>
        <app-prioritze-ticket></app-prioritze-ticket>
      </ng-template>
    </nz-tab>
</nz-tabset>
