<nz-input-group [nzSuffix]="suffixIconSearch" style="width: auto;">
    <input type="text" nz-input placeholder="search..." />
</nz-input-group>
<ng-template #suffixIconSearch>
    <span nz-icon nzType="search"></span>
</ng-template>

<button nz-button style="float: right; background-color: #2c2cbb; color: #fff;">
    <span nz-icon nzType="file-add" nzTheme="outline"></span>
    New User
</button>

<div nz-row style="margin: 25px 0;">
    <div nz-col nzSpan="24">
        <nz-table #filterTable [nzData]="listOfData" nzTableLayout="fixed">
            <thead>
              <tr>
                <!-- <th
                  *ngFor="let column of listOfColumns"
                  [nzSortOrder]="column.sortOrder"
                  [nzSortFn]="column.sortFn"
                  [nzSortDirections]="column.sortDirections"
                  [nzFilterMultiple]="column.filterMultiple"
                  [nzFilters]="column.listOfFilter"
                  [nzFilterFn]="column.filterFn"
                >
                  {{ column.name }}
                </th> -->
                <th nzColumnKey="name" [nzSortFn]="true">Name</th>
                <th nzColumnKey="userName" [nzSortFn]="true">Username</th>
                <th nzColumnKey="accessProfile" [nzSortFn]="true" [nzFilters]="filterAccessProfile" [nzFilterFn]="true">Access Profile</th>
                <th nzColumnKey="status" [nzFilters]="filterStatus" [nzFilterFn]="true">Status</th>
                <th nzWidth="100px"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of filterTable.data">
                <td>{{ data.name }}</td>
                <td>{{ data.userName }}</td>
                <td>{{ data.accessProfile }}</td>
                <td><nz-switch [ngModel]="true" nzCheckedChildren="Active" nzUnCheckedChildren="In-Active"></nz-switch></td>
                <td>
                    <a nz-dropdown [nzDropdownMenu]="menu" (nzVisibleChange)="change($event)" style="color: gray; font-size: 15px;">
                        ...
                        <span nz-icon nzType="down"></span>
                    </a>
                    <nz-dropdown-menu #menu="nzDropdownMenu">
                        <ul nz-menu>
                          <li nz-menu-item>Edit</li>
                          <li nz-menu-item>View</li>
                        </ul>
                    </nz-dropdown-menu>
                </td>
              </tr>
            </tbody>
        </nz-table>
    </div>
</div>
